* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1600px;
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    background-color: #ffffff;
    color: #444;
}

main {
    float: left;
    width: 60%;
}

aside {
    float: left;
    width: 25%;
}

nav {
    float: left;
    width: 15%;
}

footer {
    clear: both;
}

header, main, aside, nav, footer {
    padding: 25px;
}

h1, h2 {
    font-family: 'Montserrat', serif; 
    letter-spacing: 1px;
    text-align: center;
    color: #2b2b2b;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.8rem;
    margin-top: 35px;
    margin-bottom: 15px;
}

main p:first-of-type {
    text-indent: 25px;
}

a {
    color: #005577;
    text-decoration: none;
}

a:visited {
    color: #6a1b9a;
}

a:hover, a:focus {
    color: #004d40;
    text-decoration: underline;
}

a:focus {
    outline: none;
}

a[href^="http"]:after {
    content: url('link-icon.png');
    margin-left: 5px;
}

a:active {
    color: #ff5722;
    font-weight: bold;
}

ul, ol {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
}

li {
    margin-bottom: 8px;
    list-style-image: url('new-bullet.png'); 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 12px;
}

nav ul li a {
    display: block;
    padding: 12px;
    background-color: #f5f5f5;
    color: #005577;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: #004d40;
}

header, footer {
    border-top: 4px solid #b66;
    border-bottom: 4px solid #b66;
}
