* {
    box-sizing: border-box;
}

html {
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    background-color: #e0e0e0;
}

main {
    width: 210mm;
    height: 297mm;
    margin: 25px auto;
    position: relative;
    background-color: #ffffff;
    border-top: 2mm solid #333;
    border-bottom: 2mm solid #333;
    
    background-image: 
      url('header-image.png'), 
      url('footer-image.png'),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.8));
    background-position: top center, bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

address {
    position: absolute;
    bottom: 10mm;
    right: 25mm;
    font-style: italic;
    color: #555;
}

h1 {
    position: absolute;
    top: 15mm;
    left: 25mm;
    width: 150px;
    height: 150px;
    font-size: 22px;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 50px 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    
    background-image: url('brand-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
}
