body {
    font-family: 'Verdana', sans-serif;
}

h1 {
    color: #FF4500;
    font-size: 2.2em;
    font-family: 'Times New Roman', serif;
    border-bottom: 8px solid #4B0082;
    border-bottom-style: double;
}

h2 {
    font-size: 1.6em;
    font-weight: normal;
    text-transform: uppercase;
}

.position {
    color: #666666;
    font-style: italic;
}

a:link, a:visited {
    color: #FF6347;
}

a:hover {
    text-decoration: underline;
    color: #006400;
}

ul {
    background-color: #f0f0f0;
    border: 4px solid #4B0082;
    padding: 20px;
}

#bio {
    background: url('background.svg') left bottom no-repeat;
    background-attachment: fixed;
    padding: 25px 2em 10px;
    height: 160px;
    overflow-y: auto;
    margin: 25px 15px;
    border-radius: 15px;
    border: 18px solid #008B8B;
}

#bio p:last-child {
    text-align: left;
    color: rgb(34, 139, 34);
}
